/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2018, 17:20:12
    Author     : alann
*/

#postagem{
    margin: 0;
    padding: 0;
    font: 85% arial, hevetica, sans-serif;
    color: #333;
    text-align :center;
    margin-top: 5%;
}

#fotoPerfil{
    width: 20%;
    height: 1%;
}
